* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-main:'Poiret One', cursive;
    --font-family-sec: 'Montserrat', sans-serif;

    --font-col-main: #B5BFC8;

    --flair-col-blue: rgba(6, 70, 99, .25);
    --flair-col-red: #963434;
}


body {
    background: url(images/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
    position: absolute;         
    top: 0;
    left: 0;
}

/*  **********************************************************************************************/
/*  Menu and Section styles */


section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-main);
    color: var(--font-col-main);
    padding: 120px;

    font-size: 20px;
}

.section-inner {
    height: 100%;
    width: 100%;

    border: 2px solid var(--flair-col-blue);    
    border-radius: 20px;
  /*  border: 2px solid var(--font-col-main);   */
    position: relative;
    overflow-y: scroll;
}

.section-inner::after {
    content: "";
  /*  background: url(images/bg-inner.png); */
    background: transparent;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: .5;
    z-index: -1;
    
 /*   height: calc(100% + 100px);   */
    height: 100%;
}   
/*
.projects-inner::after {
    height: calc(100% + 1050px);
}   
.programming-inner::after {
    height: calc(100% + 800px);
}
.about-inner::after {
    height: calc(100% + 100px);
}   */

/*
@media only screen and (max-width: 799px) {
   .section-inner::after {
        height: calc(100% + 350px);
    }   
    .projects-inner::after {
        height: calc(100% + 1500px);
    }
    .programming-inner::after {
        height: calc(100% + 800px);
    }
    .about-inner::after {
        height: calc(100% + 300px);
    }
}   */

@media only screen and (max-width: 599px) {
    section {
        padding: 100px 25px;
    }
}
/*
@media only screen and (max-width: 599px) {
    section {
        padding: 35px 25px;
    }
}   */

.menu-toggle {
    position: fixed;
    z-index: 9999;
    right: 100px;
    top: 50px;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s;
}

.menu-toggle.active {
    transform: rotate(-180deg);
}

.menu-toggle span {
    background: var(--font-col-main);
    width: 100%;
    height: 3px;
    border-radius: 20px;
}
.menu-toggle span:nth-child(2) {
    width: 50%;
}

.menu-toggle.active span:nth-child(1) {
    position: absolute;
    background: var(--font-col-main);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    position: absolute;
    background: var(--font-col-main);
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav {
    position: fixed;
    font-family: var(--font-family-main);
    right: -75%;
    top: 25%;
    transition: all .6s;

    z-index: 999;
}
.nav.active {
    right: 100px;
    transition: all .6s;
}


.nav-link {
    list-style: none;
    padding: 10px 0;

    display: flex;
    justify-content: flex-end;

    transform: rotateY(-45deg) translateZ(0) scale(1) skewY(-10deg);
    transform-origin: right center;
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1);
}

.nav-link:hover {
    transform: rotateY(0deg) translateZ(0) scale(1) skewY(-2deg);
    transform-origin: right center;
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1);
}

.nav-link a {
    text-decoration: none;
    color: var(--font-col-main);
    font-size: 32px;
}

@media only screen and (max-width: 599px) {
    .menu-toggle {
        right: 50px;
        top: 60px;
    }
    .nav.active {
        right: 50px;
    }
}

/*  **********************************************************************************************/
/*  Landing */

#landing {
    font-size: 20px;
}
#landing.active {
    filter: blur(4px);
}

@media only screen and (max-width: 599px) {
    #landing h1 {
        margin-bottom: 175px;
    }
}

/*  **********************************************************************************************/
/*  Home */


.home-inner-content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 30px;
}
.home-inner-content.active {
    filter: blur(4px);
}


.logo-container {
    width: 300px;
    margin-left: -10px;
}
.logo-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info p {
    margin-bottom: 5px;
}

.socials {
    display: flex;
    margin-left: -5px;
}

.socials a {
    color: var(--font-col-main);
    margin-right: 10px;
    margin-left: 10px;
    transition: all .4s;
}
.socials a:hover {
    padding-left: 5px;
    transition: all .4s;
}

@media only screen and (max-width: 499px) {
    .home-inner-content {
        padding: 30px 0 30px;
        align-items: center;
    }
    .logo-container {
        width: 275px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .info {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .info p {
        margin-bottom: 2px;
    }
}

/*  **********************************************************************************************/
/*  Websites & Designs */


.projects-inner-content.active {
    filter: blur(4px);
}

.projects-container {
    width: 100%;
    margin-top: 60px;
}

.project {
    font-family: var(--font-family-main);
    margin-bottom: 25px;
    padding-top: 10px;
    border-top: 2px solid var(--flair-col-blue);

    display: flex;
    flex-direction: column;
}
/*
.project-main {
    display: flex;
    flex-direction: column;
}   */

.project-heading {
    font-size: 24px;
    transition: all .4s ;
}
.project:hover .project-heading {
    padding-left: 1px;
    font-style: italic;
    transition: all .4s ;
}

.project h3 {
    font-size: 18px;
    font-style: italic;
    margin-top: 4px;
}
.project-type {
    margin-left: 25px;
}

.project-features {
    margin-left: 50px;
}
.project-contribution {
    margin-left: 50px;
}

.project span {
    color: var(--flair-col-red);
    font-family: var(--font-family-sec);
    font-style: normal;
    font-size: 16px;
}

.project a {
    font-size: 18px;
    font-style: italic;
    margin-left: 25px;
    margin-top: 4px;
    text-decoration: none;
    color: var(--font-col-main);
    font-family: var(--font-family-main);

    border-bottom: 1px solid transparent;
    transition: all .4s ;
}
.project a:hover {
    margin-left: 30px;
    transition: all .4s ;
  /*  color: var(--flair-col-red);  */
}


@media only screen and (max-width: 499px) {
    .project {
        margin-bottom: 50px;
        padding-top: 20px;
    }
    .project h2 {
        margin-bottom: 5px;
    }
    .project h3 {
        margin-bottom: 5px;
    }
}

/*  **********************************************************************************************/
/*  Programming Projects */

.programming-inner-content.active {
    filter: blur(4px);
}

/*  **********************************************************************************************/
/*  About */

.inner-content {
    height: 100%;
    max-width: 800px;
    padding: 50px 30px 50px 30px;
    display: flex;
    flex-direction: column;
  /*  justify-content: space-between;   */
}

.about-inner-content {
    max-width: 700px;
}

.about-inner-content.active {
    filter: blur(4px);
}


.about-heading {
    margin-bottom: 30px;
}
.about-heading h1 {
    font-size: 24px;
}
.about-heading h2 {
    font-size: 18px;
}

.about-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: var(--font-family-sec);
    font-size: 18px;
    margin-bottom: 10px;
}

.about-text-block {
    margin-bottom: 15px;
}

.lang-and-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    padding-bottom: 30px;
}

@media only screen and (max-width: 599px) {
    .about-inner-content {
        padding: 20px;
    }
    .about-heading {
        margin-bottom: 40px;
    }
    .about-text {
        margin-bottom: 30px;
    }
    .about-text p {
        margin-bottom: 5px;
        font-size: 18px;
    }
    .lang-and-tools {
        width: 100%;
    }
}


/*  **********************************************************************************************/
/*  Contact */

.contact-inner-content {
    justify-content: space-between;
}

.contact-splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.contact-inner-content.active {
    filter: blur(4px);
}

.contact-heading h1 {
    font-size: 24px;
}

.contact-text p {
    font-family: var(--font-family-sec);
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-text a {
    font-style: italic;
    color: var(--flair-col-red);
    transition: all .4s ;
    text-decoration: none;
}
.contact-text a:hover {
    margin-left: 4px;
    transition: all .4s ;
}

@media only screen and (max-width: 599px) {
    .contact-inner-content {
        padding: 20px;
    }
    
    .contact-heading {
        width: 75%;
        margin-bottom: 40px;
    }

    .contact-text {
        margin-bottom: 40px;
    }
}
